@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  backgroudn-color: #202020;
}
nav {
  width: 100%;
  background: linear-gradient(90deg, rgba(21, 21, 21, 0.81) 38.04%, rgba(35, 35, 35, 0.81) 46.22%);
  position: fixed;
  z-index: 1000;
  box-shadow: 0 4px 8px #191919;
}
nav .nav-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
nav .logo {
  height: 55px;
  width: 55px;
  margin-top: 0.3rem;
}
nav .logo img {
  max-width: 100%;
  max-height: 100%;
}
nav .nav-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
nav .nav-links ul li {
  list-style: none;
}
nav .nav-links ul li a {
  text-decoration: none;
  padding: 1rem;
  display: block;
  color: #fffcf6;
  font-family: "Poppins", sans-serif;
  font-size: 1.375rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  position: relative;
}
nav .nav-links ul li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 15px;
  background-color: #b4926e;
  transition: all 280ms ease-in-out;
}
nav .nav-links ul li a:hover::after,
nav .nav-links ul li a:focus::after {
  width: 50%;
}
nav .nav-links ul li a:hover,
nav .nav-links ul li a:focus {
  color: #b4926e;
  outline: none;
}
nav .nav-links ul .open-hour-nav {
  border-radius: 99px;
  padding: 0.4rem;
  background-color: #fffcf6;
  color: #191919;
  transition: all 300ms ease-in-out;
}
nav .nav-links ul .open-hour-nav:hover, nav .nav-links ul .open-hour-nav:focus {
  background-color: #b4926e;
  color: #fffcf6;
  transform: scale(1.05);
  box-shadow: 0 2px 10px #191919;
}
nav .nav-links ul .open-hour-nav::after {
  visibility: hidden;
}

.hamburger {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  z-index: 50;
}
.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #fffcf6;
  border-radius: 6px;
  z-index: 50;
  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger span:nth-child(1) {
  width: 23px;
}

.hamburger span:nth-child(3) {
  width: 23px;
  transform: translateX(10px);
}

/* .hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: #b4926e;
}

.hamburger:hover span:nth-child(1) {
  transform: translateX(5px);
}

.hamburger:hover span:nth-child(3) {
  transform: translateX(5px);
}
*/

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
  width: 33px;
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
  width: 33px;
}

.hamburger.is-active:hover span {
  background-color: #b4926e;
}

header {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.toggle-hero {
  position: absolute;
  left: 3%;
  top: 50%;
  z-index: 100;
}
.toggle-hero #first {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #00ad74;
  margin-bottom: 0.8rem;
  cursor: pointer;
}
.toggle-hero #second {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #b4926e;
  cursor: pointer;
}

.waweHero {
  height: 100%;
  width: 100%;
  background: url(Image/waweHero4.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.scroll-down {
  grid-area: arrow;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.scroll-btn {
  position: absolute;
  height: 2.8rem;
  width: 1.6rem;
  border: 0.125rem solid #fffcf6;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  border-radius: 3rem;
  outline: none;
  box-shadow: 0 2px 40px #191919;
  transition: all 350ms ease-out;
}

.scroll-btn::before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0.2rem;
  height: 0.7rem;
  width: 0.45rem;
  background-color: #e7c095;
  border-radius: 45px;
  -webkit-animation: move-down 2.7s infinite;
          animation: move-down 2.7s infinite;
}

.scroll-btn::after {
  position: absolute;
  content: "SCROLL DOWN";
  width: 12em;
  display: block;
  text-align: center;
  left: -2.9rem;
  bottom: -2.2em;
  font-size: 0.6rem;
  color: #fffcf6;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.scroll-btn:hover,
.scroll-btn:focus {
  box-shadow: 0 0 10px #191919;
}

.hero-bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(117.34deg, rgba(18, 18, 18, 0.6) 55%, rgba(35, 35, 35, 0) 65.22%), url(Image/LandingPage.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 100%;
  margin-top: -30px;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas: ". . . ." ". content content ." ". arrow arrow  .";
}

.content {
  height: auto;
  width: 100%;
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.brand-logo {
  width: clamp(160px, 17vw, 200px);
  height: clamp(160px, 30vh, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  margin-bottom: 2rem;
}
.brand-logo img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  display: block;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}

.title {
  letter-spacing: 0.03em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: clamp(1.575rem, 3vw, 2.5rem);
  color: #fffeee;
  padding: 1.5rem 0;
}

.title::after {
  content: "";
  display: block;
  position: relative;
  background-color: #fffcf6;
  height: 5px;
  width: clamp(10rem, 50vw, 30rem);
  border-radius: 20px;
  margin-top: 0.7rem;
}

.sub-title {
  font-size: clamp(1.1rem, 2vw, 1.625rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fffcf6;
  letter-spacing: 0.04em;
  padding-top: 0.6rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-hero {
  display: block;
  height: 100%;
  width: 100%;
  transition: all 500ms ease;
  background: linear-gradient(90deg, #222831 4.13%, #202020 61.3%);
  margin-top: -30px;
}

.grid_hero_2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
  grid-template-rows: 8% 82% 10%;
  grid-template-areas: ". . carousel carousel" ". text carousel carousel" ". arrow arrow .";
}

.hero_2_content {
  grid-area: text;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero_2_content .brand-logo_2 {
  width: clamp(160px, 17vw, 200px);
  height: clamp(160px, 30vh, 200px);
  margin: 1.5rem 0;
}
.hero_2_content .brand-logo_2 img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
}
.hero_2_content h1 {
  letter-spacing: 0.05em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1.875rem, 4vw, 2.5rem);
  color: #b4926e;
  padding: 1rem 0;
  text-shadow: 2px 5px 20px #191919;
}
.hero_2_content h3 {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fffcf6;
}

.cta {
  grid-area: cta;
  display: flex;
  padding: 1rem 0;
}
.cta .cta-btn1,
.cta .cta-btn2 {
  width: 220px;
  height: 3.125rem;
  margin: 1rem 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00d992;
  border-radius: 20px;
  transition: all 350ms ease-out;
  box-shadow: 0 40px 60px #191919;
  cursor: pointer;
}
.cta .cta-btn1 a,
.cta .cta-btn2 a {
  display: block;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(1.0625rem, 3vw, 1.25rem);
  text-decoration: none;
  outline: none;
  padding: 0.5rem 1.5rem;
}
.cta .cta-btn2 {
  background-color: transparent;
  border: 3px solid #00d992;
}
.cta .cta-btn2 a {
  color: #fffcf6;
}
.cta .cta-btn1:hover,
.cta .cta-btn1:focus {
  background-color: #03b479;
  box-shadow: 0 0px 60px #191919;
  transform: scale(1.05);
}
.cta .cta-btn2:hover,
.cta .cta-btn2:focus {
  background-color: #00d992;
  box-shadow: 0 0px 60px #191919;
  transform: scale(1.05);
}
.cta .cta-btn2:hover a,
.cta .cta-btn2:focus a {
  color: #191919;
}
.cta .cta-btn1:active {
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 0;
  transform: scale(1);
}
.cta .cta-btn2:active {
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 0;
  transform: scale(1);
}

.img-carousel {
  grid-area: carousel;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 7rem;
  background: url(Image/heroCarousel.svg);
  background-repeat: no-repeat;
  background-position: top right;
}
.img-carousel .img-one,
.img-carousel .img-two,
.img-carousel .img-three {
  max-width: 230px;
  height: 250px;
  box-shadow: 2px 5px 20px #191919;
  border-radius: 40px;
}
.img-carousel .img-one img,
.img-carousel .img-two img,
.img-carousel .img-three img {
  border-radius: 40px;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#info-customers {
  height: 35vh;
}

.black-container {
  background-color: #a48867;
  height: 100%;
}

.wawe {
  background: linear-gradient(0deg, rgba(32, 32, 32, 0.4) 50%, rgba(32, 32, 32, 0) 80%), url(Image/bannerGradient.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 60%;
  min-height: 110px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.banner span {
  font-size: clamp(1.6875rem, 5vw, 2.7rem);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #e7c095;
  padding-left: 0.2rem;
}
.banner p {
  font-weight: 600;
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03em;
  color: #fffcf6;
  text-align: center;
}

.center {
  text-align: center;
}
.center img {
  width: clamp(1.5625rem, 4vw, 2.375rem);
  height: clamp(1.5625rem, 4vw, 2.375rem);
}

#about-us {
  background: linear-gradient(90deg, #222831 4.13%, #202020 61.3%);
  height: 100%;
  margin-top: -3px;
  padding: 3rem 0;
}

.grid-about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "image1 text1";
  justify-items: center;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 5rem 3rem 7rem 3rem;
}

.text-content {
  grid-area: text1;
}
.text-content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  color: #fffcf6;
}
.text-content h2::after {
  content: "";
  position: relative;
  width: clamp(9rem, 10vw, 10rem);
  text-align: center;
  background-color: #fffcf6;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}
.text-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(1.0625rem, 3vw, 1.25rem);
  letter-spacing: 0.04em;
  color: #fffcf6;
  padding: 1.5rem 1rem 1rem 1rem;
}

.img-content {
  grid-area: image1;
  max-height: 510px;
  max-width: 460px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.img-content .cafe-img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.button-more {
  background-color: #fffcf6;
  color: #191919;
  border-radius: 20px;
  height: 40px;
  width: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  margin-left: 1.7em;
  margin-top: 1em;
  padding: 0 10px;
  transition: all 300ms ease-in-out;
  position: absolute;
}
.button-more a {
  text-decoration: none;
  font-size: 1.375em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 0 0.3em;
  display: inline-block;
  color: inherit;
  position: relative;
}
.button-more a .arrow-button {
  content: url(icon/arrow-right-circle.svg);
  position: absolute;
  max-height: 100%;
  max-width: 100%;
  min-height: 20px;
  min-width: 20px;
  margin-left: 10px;
  transition: all 300ms ease-in-out;
}

.button-more:hover {
  background-color: #222831;
  color: #fffcf6;
  width: 120px;
  height: 45px;
  border-radius: 25px;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.button-more:hover .arrow-button {
  content: url(icon/arrow-right-circle-white.svg);
  transform: translateX(10px);
}

#coffe-from {
  background-color: #e5e2db;
  height: 100%;
  padding: 50px 0;
}

.grid-roasting {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "text image";
  justify-items: center;
  gap: 2rem;
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}
.grid-roasting .left-content {
  grid-area: text;
}
.grid-roasting .left-content h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  color: #191919;
}
.grid-roasting .left-content h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #191919;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}
.grid-roasting .left-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(1.0625rem, 3vw, 1.25rem);
  letter-spacing: 0.04em;
  color: #191919;
  padding: 1rem;
}
.grid-roasting .left-content .text-center {
  text-align: center;
}
.grid-roasting .img-up {
  position: relative;
  bottom: 25%;
}
.grid-roasting .right-content {
  grid-area: image;
  max-height: 570px;
  max-width: 455px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.grid-roasting .right-content .coffee-machine {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#our-coffe {
  padding: 2rem 0 6rem 0;
}

.sack-coffe {
  margin: 0 auto;
  width: 80%;
}
.sack-coffe h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  padding: 2rem 1rem;
  color: #191919;
}
.sack-coffe h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #191919;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}

.flex-sack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.sack-size {
  overflow: hidden;
  border-radius: 25px;
  min-width: 7.5rem;
  height: auto;
  max-width: 420px;
}
.sack-size img {
  max-height: 100%;
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex-sack::after {
  content: url(Image/PriceInCoffee.svg);
  position: absolute;
  display: block;
  bottom: -7.6rem;
}

#menu {
  background: linear-gradient(90deg, #222831 4.13%, #202020 61.3%);
  margin-top: clamp(-50%, -30vh, -20%);
  padding-top: clamp(25%, 30vh, 41%);
  padding-bottom: 12rem;
  height: 100%;
}

.our-menu {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}
.our-menu h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  color: #fffcf6;
  padding: 2rem 0 2.5rem 0;
}
.our-menu h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #fffcf6;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}

.lever-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  position: relative;
}

.lever {
  width: 100%;
  height: clamp(2.8125rem, 8vw, 4.625rem);
  background-color: #fffcf6;
  border-radius: 5px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lever-border {
  border: 3px solid #191919;
  border-radius: 5px;
  width: 99%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lever-border p {
  padding: 0 2rem;
  font-size: clamp(0.75rem, 5vw, 1.5625rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04rem;
}

.lever-img {
  margin: 0 auto;
  width: clamp(9.5rem, 55vw, 20%);
  position: relative;
  top: 0;
}
.lever-img img {
  max-height: 100%;
  max-width: 100%;
}

.menu-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  position: absolute;
  top: 0;
  padding-top: 6rem;
}
.menu-container .left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-container .left-side p::before {
  content: "";
  background-color: #fffcf6;
  border-radius: 1.3rem;
  position: absolute;
  top: 2rem;
  left: -0.2rem;
  height: 2.9rem;
  width: 5px;
}
.menu-container .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.menu-container .right-side p::after {
  content: "";
  background-color: #fffcf6;
  border-radius: 1.3rem;
  position: absolute;
  top: 2rem;
  right: -0.2rem;
  height: 2.9rem;
  width: 5px;
}
.menu-container .right-side span {
  text-align: right;
}
.menu-container .name-cofe {
  padding: 2rem 1rem;
  position: relative;
}
.menu-container .name-cofe p {
  font-size: clamp(1.0625rem, 2.5vw, 1.545rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04em;
  color: #fffcf6;
}
.menu-container .name-cofe span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(0.75rem, 3vw, 1.125rem);
  line-height: 0.875rem;
  display: block;
  color: #fffcf6;
}

.loyalty-card {
  width: 50%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
.loyalty-card p {
  color: #fffcf6;
  font-family: "Poppins", sans-serif;
  font-size: clamp(1.0625rem, 3vw, 1.4375rem);
  letter-spacing: 0.01em;
  text-align: center;
}

.card {
  width: clamp(10.5rem, 15vw, 17.5625rem);
  height: clamp(10rem, 15vw, 16.875rem);
}
.card img {
  width: 100%;
  height: 100%;
  display: block;
}

#sitting {
  background-color: #e5e2db;
  width: 100%;
  height: 100%;
  margin-top: -2px;
}

.head-oblouk {
  background-image: url(Image/waweGradient.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 216px;
  width: 100%;
}

.sitting-container {
  margin: 0 auto;
  width: 80%;
}
.sitting-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  color: #191919;
  padding: 1rem 0;
}
.sitting-container h2::after {
  content: "";
  position: relative;
  width: clamp(7rem, 10vw, 10rem);
  text-align: center;
  background-color: #191919;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}

.grid-sitting {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem 0;
}

.image-round {
  justify-self: center;
}
.image-round img {
  height: clamp(130px, 18vw, 200px);
  width: clamp(130px, 18vw, 200px);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 3px 3px 10px #191919;
  transition: all 300ms ease-in-out;
}
.image-round .img-1 {
  position: relative;
  left: 10px;
}
.image-round .img-2 {
  position: relative;
  top: 20px;
  right: 5px;
  z-index: 20;
}
.image-round .img-3 {
  position: relative;
  bottom: 20px;
  left: 10px;
}
.image-round .img-4 {
  position: relative;
  right: 5px;
}

.img-1:hover,
.img-2:hover,
.img-3:hover,
.img-4:hover {
  transform: scale(1.1);
  z-index: 100;
}

.text-sitting {
  padding-top: 3rem;
}
.text-sitting p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(1.0625rem, 3vw, 1.25rem);
  letter-spacing: 0.04em;
  color: #191919;
  text-align: right;
  padding-top: 1.2rem;
}

.bg-sitting {
  width: 100%;
  height: 480px;
  background: url(Image/terasa.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#open-hours-contact {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Image/pexels-marta-dzedyshko-2067431.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.open-wawe {
  background: url(Image/openWawe.svg);
  background-position: center center;
  background-repeat: no-repeat;
  height: 227px;
}

.grid-contact-open {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
  margin: 0 auto;
  width: 80%;
  padding-bottom: 4rem;
  gap: 2rem;
  justify-items: center;
}

.open-table {
  border: 4px solid #202020;
  background-color: #fffcf6;
  max-height: 450px;
  width: clamp(19rem, 100%, 30.375rem);
  border-radius: 10px;
}
.open-table h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 0.07em;
  padding: 2rem 0 0 0;
  text-align: center;
}
.open-table h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #191919;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}

.grid-hours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  padding-block: 1.5rem;
}
.grid-hours p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: clamp(1.0625rem, 4.5vw, 1.4875rem);
  letter-spacing: 0.04em;
  color: #191919;
  line-height: 1.6;
}
.grid-hours .hours {
  text-align: right;
}

.contact {
  padding: 3.5rem 0;
}
.contact h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  color: #fffcf6;
}
.contact h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #fffcf6;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
  margin-top: 1rem;
}
.contact p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(1.0625rem, 3vw, 1.25rem);
  letter-spacing: 0.04em;
  color: #fffcf6;
  padding: 1.5rem 0;
  text-align: center;
  text-decoration: none;
}
.contact .social-icons {
  text-align: center;
}
.contact .social-icons a {
  text-decoration: none;
}
.contact .social-icons img {
  padding: 0.5rem;
  display: inline-block;
  max-height: 60px;
  max-width: 60px;
}

#rating {
  background-color: #202020;
  width: 100%;
  padding-block: 2rem;
  margin-top: -2px;
}

.rating-container {
  width: 100%;
  margin: 0 auto;
}
.rating-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  color: #fffcf6;
  padding: 2.5rem 0;
}
.rating-container h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #fffcf6;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}

.grid-rating {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  overflow: scroll;
  background-color: #191919;
  border-radius: 10px;
  padding: 0.6rem 2rem;
}

.customer {
  width: clamp(300px, 50vw, 400px);
  background: #e5e2db;
  box-shadow: 2px 4px 15px -4px #e5e2db;
  border-radius: 10px;
  margin: 1rem;
  padding: 0.6rem 1rem;
}
.customer .user-img {
  width: 70px;
  height: 70px;
  float: left;
  border-radius: 50%;
}
.customer .user-img img {
  max-height: 100%;
  max-width: 100%;
  filter: grayscale(1);
}
.customer h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(1.0625rem, 3vw, 1.25rem);
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #191919;
  display: inline-block;
  padding: 1.5rem 1rem;
}
.customer p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.5;
  color: #191919;
  display: block;
  clear: left;
  padding: 1rem 0;
}

#location {
  width: 100%;
  background-color: #e5e2db;
}

.location-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.location-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: clamp(1.25rem, 4.5vw, 1.675rem);
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.8rem;
  padding: 2.5rem 0;
}
.location-container h2::after {
  content: "";
  position: relative;
  width: clamp(6rem, 10vw, 10rem);
  text-align: center;
  background-color: #191919;
  display: block;
  height: 5px;
  margin: 0 auto;
  margin-top: 0.45rem;
  border-radius: 15px;
}

.map-location {
  width: 100%;
}
.map-location iframe {
  border-radius: 15px;
  width: 100%;
}

#gallery {
  background-color: #202020;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.7rem;
  padding: 0.5rem;
  grid-auto-flow: dense;
}

.gallery-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 200ms ease;
}

.img-1x1 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  aspect-ratio: 1/1;
}

.img-2x2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  aspect-ratio: 1/1;
}

.img-2x1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
  aspect-ratio: 2/1;
}

@-webkit-keyframes move-down {
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(1.4em);
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-down {
  25% {
    opacity: 1;
  }
  50% {
    transform: translateY(1.4em);
    opacity: 1;
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 1060px) {
  .grid-about-us {
    grid-template-columns: 1fr;
    grid-template-areas: "image1" "text1";
    padding: 4rem 1rem 7rem 1rem;
    gap: 4rem;
  }
  .grid-roasting {
    grid-template-columns: 1fr;
    grid-template-areas: "text" "image";
    padding: 2rem 1rem;
  }
  .img-up {
    top: 0%;
  }
  .flex-sack {
    gap: 1rem;
  }
}
@media only screen and (max-width: 942px) {
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none;
    width: 100%;
  }
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav.click {
    background: linear-gradient(130deg, rgba(16, 16, 16, 0.95) 48.04%, rgba(35, 35, 35, 0.95) 76.22%);
    box-shadow: 0 4px 10px #191919;
  }
  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }
  .nav-links li {
    text-align: center;
  }
  .nav-links li a {
    padding: 0.5rem 1rem;
  }
  .nav-links.active {
    display: flex;
    padding-bottom: 2.5rem;
  }
  .mobile-width {
    width: 90%;
  }
  .hero-bg {
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 75%;
    background-position-y: -50px;
  }
  .wawe {
    background-position: bottom left;
  }
  .grid-container {
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: ". . . ." ". content content ." ". arrow arrow .";
  }
  .content {
    text-align: center;
    align-items: center;
  }
  .brand-logo {
    margin: 0;
  }
  .title::after {
    margin: 10px auto;
  }
  .grid_hero_2 {
    grid-template-areas: ". . . ." ". text text ." ". arrow arrow .";
  }
  .cta {
    flex-direction: column;
  }
  .cta .cta-btn1,
.cta .cta-btn2 {
    margin: 0.5rem 0;
  }
  .img-carousel {
    display: none;
  }
  .button-more {
    font-size: 13px;
  }
  .flex-sack {
    gap: 0.5rem;
  }
  .menu-container {
    padding-top: 12%;
  }
  .grid-sitting {
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0.8fr;
    gap: 1rem;
    padding: 2rem 0 0 0;
  }
  .text-sitting {
    padding-top: 0;
  }
  .text-sitting p {
    text-align: center;
  }
  .grid-contact-open {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  .open-wawe {
    background-position: center left;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .banner {
    height: 180px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0 4px;
  }
  .info-buttons {
    width: 150px;
  }
  .flex-sack {
    gap: 0;
  }
  .sack-size {
    border-radius: 15px;
  }
  .mild-sack {
    position: relative;
    left: 10vw;
    z-index: 30;
  }
  .medium-sack {
    position: relative;
    z-index: 20;
  }
  .strong-sack {
    position: relative;
    right: 10vw;
    z-index: 10;
  }
  .flex-sack::after {
    bottom: -7.2rem;
    transform: scale(0.8);
  }
  .lever-border {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 500px) {
  .banner {
    height: 200px;
  }
  .flex-sack::after {
    bottom: -6.6rem;
    transform: scale(0.6);
  }
  .lever-border p {
    padding: 0 0.6rem;
  }
  .open-table {
    aspect-ratio: 1/0.9;
  }
  .lever-border {
    width: 98%;
    height: 84%;
    border: 2px solid #191919;
  }
}
@media screen and (max-width: 450px) {
  .title {
    margin: 0.5rem 0;
    padding: 0 0 0.5rem 0;
  }
  .banner {
    height: 80%;
  }
}
@media only screen and (max-width: 425px) {
  .cta .cta-btn1,
.cta .cta-btn2 {
    height: 45px;
  }
  #menu {
    padding-bottom: 6rem;
  }
  .menu-container {
    overflow: scroll;
    display: flex;
    padding: 1rem 0;
    position: relative;
    scroll-behavior: smooth;
    perspective: 100px;
    transition: all 400ms ease-out;
  }
  .menu-container .name-cofe {
    padding: 0.5rem 1rem;
  }
  .menu-container .name-cofe:hover {
    transform: translateZ(20px);
  }
  .right-side:hover,
.left-side:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .name-cofe {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0.5rem 1.2rem;
    margin: 0 0.6rem;
    background-color: #e5e2db;
    border-radius: 20px;
    box-shadow: 3px 2px 10px #191919;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: all 400ms ease-out;
    -webkit-animation: scroll 55s linear infinite;
            animation: scroll 55s linear infinite;
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1200px);
    }
    100% {
      transform: translateX(800px);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1200px);
    }
    100% {
      transform: translateX(800px);
    }
  }
  .menu-container .name-cofe p,
.menu-container .name-cofe span {
    color: #191919;
    padding-left: 0.5rem;
  }
  .menu-container .left-side,
.menu-container .right-side {
    display: flex;
    flex-direction: row;
  }
  .menu-container .left-side p::before {
    background-color: #191919;
    top: 0.7rem;
    left: 0.7rem;
    height: 1.9rem;
    width: 4px;
  }
  .menu-container .right-side p::after {
    display: none;
  }
  .menu-container .right-side p::before {
    content: "";
    position: absolute;
    border-radius: 1.3rem;
    background-color: #191919;
    top: 0.7rem;
    left: 0.7rem;
    height: 1.9rem;
    width: 4px;
  }
  .grid-rating {
    display: flex;
    overflow: auto;
    gap: 12px;
    scroll-padding: 10px;
    padding: 10px;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .customer {
    flex: 0 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
}
@media (max-width: 320px) {
  .mild-sack {
    left: 18vw;
  }
  .strong-sack {
    right: 18vw;
  }
}
@media only screen and (max-height: 635px) and (max-width: 425px) {
  .scroll-btn {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */
